.img-descr {
    display: flex;
    margin-bottom: 20px;
    height: 160px;
}
.img-descr > p {
    margin: 0;
}
.infoCard {
    width: 350px;
    height: 230px;
    border: 1px solid deeppink;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0 0 0;
}
.img-descr > img {
    width: 200px;
    height: 150px;
    border-radius: 16px;
}
.infoCard > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #88766b;
    color: white;
    margin: 10px 0 0 60px;
    font-size: 14px;
    border-radius: 16px;
    width: 220px;
}
.wrapInfo {
    display: flex;
    justify-content: space-around;
}